Django==4.2
yarl==1.9.2
jsonfield==3.1.0
whitenoise==6.4.0
django-autocomplete-light==3.9.7
django-debug-toolbar==4.1.0
django-autoslug==1.9.9
django-solo==2.1.0
discord.py==2.3.0
timeago==1.0.14
django-annoying==0.10.6
django-reverse-admin==2.9.6
pytz==2023.3
yfinance==0.2.20
django-multiselectfield==0.1.12
channels==4.0.0


git+https://github.com/unclevasya/django-pure-pagination.git@disablable_margins
git+https://github.com/unclevasya/dota2.git@protobufs_update
